.MenuBtn{

    font-family: Golos-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFF;
    opacity: 0.72;
    padding: 12px 0 12px 28px;

}


.FullElement{
    background: #091F52;
    height: 44px;
    width: 100%;


    cursor: pointer;
}

.FullElement:hover{
    background: #04153E;

}