.FormWrapper{
    height: 40px;
    width: 500px;
    margin-left: 32px;
    margin-top: 24px;
    border-radius: 8px;
    background: #eef3fc;
}

input {
    display: block;
    text-indent: 16px;
    outline: none;
    color: #04153E;
    font-size: 16px;
    font-family: 'Golos-Medium';
}

input::placeholder{
    opacity: 0.48;
    color: #04153e;
    font-size: 16px;
    font-family: 'Golos-Medium';
}

input:focus{
    color: #04153E;
    font-size: 16px;
    font-family: 'Golos-Medium';
}
