.NavLink{
    margin: 15px;
    color: #FFFFFF;
    font-family: Golos-Regular;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    background: #3D75E4;
    border-color: #04153E;
    border-style: solid;
    border-width: 2px;
    width: 210px;
}

.MainPageWrapper{
    padding: 50px;
}
