.MenuBtn{
    font-family: Golos-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFF;
    padding: 12px 0;
}

.FullElement{
    background: #091F52;
    opacity: 0.72;
    width: 100%;
    height: 44px;
}

.FullElement:hover{
    background: #04153E;
}





