.subItem{
    width: 400px;
    height: 40px;
    font-size: 24px;
    background-color: #3D75E4;
}
.title {
    margin: 10px 0;
    width: 400px;
    height: 40px;
    font-size: 30px;
    background-color: gold;
}



