/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

@font-face {
  font-family: Golos-Bold;
  src: local('Golos-Bold'), url(fonts/GolosText-Bold.woff) format('woff');
}

@font-face {
  font-family: Golos-Medium;
  src: local('Golos-Medium'), url(fonts/GolosText-Medium.woff) format('woff');
}

@font-face {
  font-family: Golos-Regular;
  src: local('Golos-Regular'), url(fonts/GolosText-Regular.woff) format('woff');
}

